<!DOCTYPE HTML>

{% set navigation_bar = [
  ('/', 'home', 'Home'),
  ('/pods', 'pods', 'Pods')
] -%}

{% set active_page = active_page|default('home') -%}

<html lang="en">
<head>
 <title>OpenShift Client Demo</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="/static/dashboard.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 {% block head %}{% endblock %}
</head>
<body>
  <div class="container-fluid">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
              </button>
        <a class="navbar-brand" href="#">
          <i class="fab fa-python"></i>
         </a>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for href, id, caption in navigation_bar -%}
          <li{% if id == active_page %} class="nav-item active"{% else %} class="nav-item"{% endif %}><a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor -%}
        </ul>
      </div>
    </div>
  </nav>
  <div id="content">
    <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    {%- for message in messages %}
    <div class="row">
       <div class="col-md-12 alert alert-success alert-dismissable fade show" >
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
          {{ message[1] }} 
       </div>
    </div>
    {%- endfor %}
  {%- endif %}
  {%- endwith %}

  {% block content %}{% endblock %}
  </div>
  </div>
  <div id="footer">
    <div class="container">
      {% block footer %}
      <small>The OpenShift Client demo is open source software. Find it on <a href="http://github.com/shaneboulden/openshift-client-demo">GitHub</a>
      {% endblock %}
    </div>
  </div>
  </div>
</body>
